body {
    font-family: "Roboto", sans-serif;
    background-color: #f0eae2;
    padding: 20px;
    margin: 2px;
}

.search-container {
    margin: 20px;
    display: flex; /* Makes the container a flexbox */
    justify-content: center;
}

#emojiSearch {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#randomizeButton {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: 10px; /* Add space between the search box and the button */
}

.emoji-container {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(100px, 1fr)
    ); /* Increase minmax minimum size for bigger emojis */
    gap: 20px;
}

.emoji-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.emoji-box {
    /* Existing styles */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition for transform and box-shadow */
}

.emoji-box:hover {
    transform: scale(2); /* Slightly scale up the emoji box on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add more shadow to create a depth effect */
}

.emoji {
    font-size: 48px; /* Increased font size for emojis */
}

.emoji-name {
    font-size: 12px; /* Smaller font size for names */
    text-align: center; /* Center align the names */
    margin-top: 5px; /* Add some space between the emoji and the name */
}

.emoji-box {
    position: relative; /* Needed to position the tooltip */
    /* Other styles */
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.emoji-box:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
